nav > ul > li{

    display: inline-block;
    font-size: 20px;
}
/* removing the underline  */
nav > ul > li > a 
{
    text-decoration: none;
    float: left;
    text-align-last: right;
    padding: 10px 10px; 
   /* font-size: 25px; */
}
header
{
    left: 0px;
    margin-top: 0px;
width: 100%;
}
.hea{
    /* text-transform: uppercase; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    margin: 20px;
    padding: 20px;
    /* background-color: white; */
    margin-bottom: 80px;
    box-sizing: border-box;
}

.armenia{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
float: left;
}
#ar1{
    background-color: red;
    border: red solid;
    height: 80px;
}
#ar2{
    background-color: blue;
    border: blue solid;
    height: 80px;
}
#ar3{
    background-color: sandybrown;
    /* border: burlywood solid; */
    height: 80px;
}
body{
    background-color: rgba(182, 159, 173, 0.3);
    /* margin-left: 1.6%; */
    margin: 8px;
    /* padding-top: 100px; */
    /* float: left; */
}
.name{
    padding-top: 5px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.austria{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left;
}
#au1{
    background-color: red;
    border: red solid;
    height: 80px; 
}
#au2{
    background-color: white;
    border: white solid;
    height: 80px;
}
#au3{
    background-color: red;
    border: red solid;
    height: 80px;
}
.russia{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ru1{
    background-color: white;
    border: white solid;
    height: 80px; 
}
#ru2{
    background-color:blue;
    border: blue solid;
    height: 80px;
}
#ru3{
    background-color: red;
    border: red solid;
    height: 80px;
}
.japan{
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ja1{
    background-color: white;
    border:white solid;
    height: 252px;
}
#ja2{
    height: 160px;
    width: 160px;
    background-color: red;
    border-radius: 80px;
    border: red solid;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.bangladesh{
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ba1{
    background-color: #005b00;
    border: #005b00 solid;
    height: 252px;
}
#ba2{
    height: 160px;
    width: 160px;
    background-color: red;
    border-radius: 80px;
    border: red solid;
    margin: 12% 12% 50% 25%;
    position: relative;
}
.niger{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#ni1{
    background-color: rgb(225,90,30);
    border: rgb(225,90,30) solid;
    height: 80px; 
}
#ni2{
    background-color: white;
    border: white solid;
    height: 80px; 
}
#ni3{
    background-color: green;
    border: green solid;
    height: 80px; 
}
#ni4{
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 35px;
    border: red solid;
    margin: auto;
    margin-top: 2px;
    position: relative;
}
.mali{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#ma1{
    width: 33.3%;
    height: 252px;
    background-color: rgb(29, 161, 17);
    float: left;
}
#ma2{
    width: 33.3%;
    height: 252px;
    background-color: rgb(221, 225, 17);
    float: left; 
}
#ma3{
    width: 33.3%;
    height: 252px;
    background-color: red;
    float: left;
}
.peru{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#pe1{
    width: 33.3%;
    height: 252px;
    background-color: red;
    float: left;
}
#pe2{
    width: 33.3%;
    height: 252px;
    background-color: white;
    float: left; 
}
#pe3{
    width: 33.3%;
    height: 252px;
    background-color: red;
    float: left;
}
.nigeria{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#ng1{
    width: 33.3%;
    height: 252px;
    background-color: rgb(29, 161, 17);
    float: left;
}
#ng2{
    width: 33.3%;
    height: 252px;
    background-color: white;
    float: left; 
}
#ng3{
    width: 33.3%;
    height: 252px;
    background-color: rgb(29, 161, 17);
    float: left;
}
.vietnam{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#vi1{
    background-color: rgb(161, 17, 17);
    border: rgb(161, 17, 17) solid;
    height: 252px;
}
#vi2::before{
    content: '★';
    font-size: 1062.5%;
    text-align: center;
    color: yellow;
    position: relative;
    
}
.senegal{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#se1{
    width: 33.3%;
    height: 252px;
    background-color: rgb(29, 161, 17);
    float: left;
}
#se2{
    width: 33.3%;
    height: 252px;
    background-color: rgb(221, 225, 17);
    float: left; 
}
#se3{
    width: 33.3%;
    height: 252px;
    background-color: red;
    float: left;
}
#se4::before{
    content: '★';
    font-size: 937.5%;
    text-align: center;
    color: green;
    position: relative;
}
.somalia{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left; 
}
#so1{
    background-color: rgb(85, 85, 238);
    border: rgb(85, 85, 238) solid;
    height: 252px;
}
#so2::before{
    content: '★';
    font-size: 1062.5%;
    text-align: center;
    color: white;
    position: relative;
    
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
nav{
    background-color: #333;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}
nav li{
    padding: 10px 10px;
}
nav a:hover{
    background-color: #555;
}
@media screen and (max-width: 768px){

   nav ul{
    display: block;
    }
}

footer{
    height: 3%;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    padding: 10px 5px;
    font-size: 15px;
    color: darkslategray;
}

footer > ul > li > a {
    text-decoration: none;
    color: darkslategray;
}


footer > ul > li > a:hover {
    color: rgb(0, 0, 225);
}
.bottom_border {
    border-bottom: rgb(218, 220, 221) 2px solid;
    clear: left;
    padding-bottom: 5%;
}