

.armenia{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
float: left;
}
#ar1{
    background-color: red;
    border: red solid;
    height: 80px;
}
#ar2{
    background-color: blue;
    border: blue solid;
    height: 80px;
}
#ar3{
    background-color: sandybrown;
    /* border: burlywood solid; */
    height: 80px;
}
body{
    background-color: rgb(225,200,200,0.3);
    margin: 1.6%;
    /* float: left; */
}
.name{
    padding-top: 5px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.austria{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left;
}
#au1{
    background-color: red;
    border: red solid;
    height: 80px; 
}
#au2{
    background-color: white;
    border: white solid;
    height: 80px;
}
#au3{
    background-color: red;
    border: red solid;
    height: 80px;
}
.russia{
    padding: 0px;
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ru1{
    background-color: white;
    border: white solid;
    height: 80px; 
}
#ru2{
    background-color:blue;
    border: blue solid;
    height: 80px;
}
#ru3{
    background-color: red;
    border: red solid;
    height: 80px;
}
.japan{
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ja1{
    background-color: white;
    border:white solid;
    height: 240px;
}
#ja2{
    height: 160px;
    width: 160px;
    background-color: red;
    border-radius: 80px;
    border: red solid;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.bangladesh{
    width: 30%;
    margin: 1.6%;
    float: left;
}
#ba1{
    background-color: #005b00;
    border: #005b00 solid;
    height: 240px;
}
#ba2{
    height: 160px;
    width: 160px;
    background-color: red;
    border-radius: 80px;
    border: red solid;
    margin: 10% 10% 50% 25%;
    position: relative;
}